*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
build
classes
target
logs
.idea


#Log files and dirs
*.log
log/

#IDE files and dirs
.idea/
*.iml

#Build tools
.gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
